<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.TravelMapper">

    <insert id="insertTravel" parameterType="entity.TravelEntity">
        INSERT INTO toy2.travel
        (travel_name, departure, arrival, overseas)
        VALUES
        (#{travelName}, #{departure}, #{arrival}, #{overseas})
    </insert>

    <!--    <select id="">-->
    <select id="getAllTravel" resultMap="travelWithTripResultMap">
        SELECT
        tv.*,
        t.*
        FROM
        travel tv
        LEFT JOIN trip t ON tv.travel_id = t.travel_id;
    </select>

    <resultMap id="travelWithTripResultMap" type="entity.TravelEntity">
        <id property="travel_id" column="travel_id"/>
        <result property="travel_name" column="travel_name"/>
        <result property="departure" column="departure"/>
        <result property="arrival" column="arrival"/>
        <result property="overseas" column="overseas"/>

        <collection property="trip" ofType="entity.TripEntity">
            <id property="tripId" column="trip_id"/>
            <result property="transportation" column="transportation"/>
            <result property="startpoint" column="startpoint"/>
            <result property="endpoint" column="endpoint"/>
            <result property="departureTime" column="departure_time"/>
            <result property="arrivalTime" column="arrival_time"/>
        </collection>
    </resultMap>

    <!--    </select>-->

    <!--    <update id="">-->

    <!--    </update>-->

    <delete id="deleteTravel">
        DELETE FROM travel WHERE travel_id=#{travelId}
    </delete>

</mapper>